<!DOCTYPE html>
<html>
<head>
    <title>Teste</title>
</head>
<body>
    <h1>Teste de Renderização EJS</h1>
    <p>Pedido ID: <%= pedido.id %></p>
</body>
</html>
<main>
    <div class="container-anda">
      <h2>Andamento</h2>
      <div id="controle" class="controle">
        <ul>
          <li><strong>ID do Pedido:</strong> <%= dados.id %></li>
          <li><strong>Nome do Cliente:</strong> <%= dados.nome %></li>
          <li><strong>Tamanho:</strong> <%= dados.tamanho %></li>
          <li><strong>Sabor Salgado:</strong> <%= dados.saborSalgado %></li>
          <li><strong>Sobremesa:</strong> <%= dados.sobremesa %></li>
          <li><strong>Borda:</strong> <%= dados.borda %></li>
          <li><strong>Bebida:</strong> <%= dados.bebida %></li>
          <li><strong>Observações:</strong> <%= dados.obs %></li>
          <li><strong>Forma de Pagamento:</strong> <%= dados.pgto %></li>
        </ul>
      </div>
    </div>
  </main>